---
layout: default
---
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "datePublished": {{ page.date | date_to_xmlschema | jsonify }},
  "dateModified": {{ page.date | date_to_xmlschema | jsonify }},
  "author": { "@type": "Person", "name": {{ site.author | jsonify }} },
  "publisher": { "@type": "Person", "name": {{ site.author | jsonify }} },
  "url": {{ page.url | absolute_url | jsonify }},
  "mainEntityOfPage": {{ page.url | absolute_url | jsonify }},
  "description": {{ page.excerpt | strip_html | strip_newlines | truncatewords: 30 | jsonify }}{% if page.tags.size > 0 %},
  "keywords": {{ page.tags | join: ", " | jsonify }}{% endif %}
}
</script>
<section class="blog-post-section">
    <div class="container">
        <a href="{{ '/blog/' | relative_url }}" class="back-link mb-4 d-inline-block"><i class="fa fa-arrow-left me-2"></i>Back to Blog</a>

        <article class="blog-post">
            <div class="blog-post-meta">
                <span class="blog-post-date"><i class="fa fa-calendar me-1"></i>{{ page.date | date: "%B %-d, %Y" }}</span>
                {%- if page.tags.size > 0 %}
                <span class="blog-post-tags">
                    {%- for tag in page.tags %}<span class="tech-tag">{{ tag }}</span>{% endfor %}
                </span>
                {%- endif %}
            </div>
            <h1 class="blog-post-title">{{ page.title }}</h1>
            <div class="blog-post-content">
                {{ content }}
            </div>
        </article>
    </div>
</section>
